<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="console.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
    <appSettings>
        <add key="PSConsoleShareName" value="PSConsole" />
        <add key="PSConsoleShareLocation" value="D:\inetpub\wwwroot\PSWebShare" />
        <add key="LoggingEnabled" value="false" />
        <add key="AllowUsernameList" value="" />
    </appSettings>
</configuration>